body{    
  width:100%;
  height:auto;
  margin: 0;
  background: linear-gradient(to bottom, #5d5d90 0%, #1f1d60 100%);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: white;
}
h1, p {
  margin: 1px auto 0px auto;
  text-align: center;
}
header{
  margin-bottom: 1em;
}
form{
  background:rgba(27,27,50,0.8);
  padding:2.5rem 2rem;
  border-radius: 0.25rem;
  width: 640px;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin: 1rem auto 0px auto;
}
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
input[type="submit"] {
  display: block;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  color:white;
  background-color: #37af65;
  border:none;
  border-radius: 0.25rem;
  min-width: 300px;
  
}