.slogan-container {
    margin-top: 40px;

    .slogan {
        font-weight: 900;
        font-size: 120px;
    }

    .animate-container {
        margin-top: 100px;
        justify-content: flex-end;
    }

    .leaf-container {
        position: relative;
        overflow: hidden;
        
       

    }

    .leaf {
        flex:1;
        display: block;
        position: relative;
        animation: moveCenterToUp 5s infinite;
        
    }

    .a-delay-1 {
        animation-delay: 0.5s;
    }

    .a-delay-2 {
        animation-delay: 1s;
    }

}

@keyframes moveCenterToUp{
    0% {
      top: 200px;
    }
    40% {
      top: 0;
    }
    60%{
      top: 0;
    }
    100% {
      top: -200px;
    }   
  }

@media(max-width:767px) {
    .slogan-container {
        .slogan {
            font-size: 48px;
        }

        .anamate-container {
            justify-content: center;
            width: 100%;
            
        }
    }
}