.about {
    margin: 50px auto 100px auto;
    border: 1px solid #000 ;
    
    .image {
        width: 40%;
        border-radius: 16px;
    }

    .image-container {
        justify-content: center;
        background-image: url(../img/06.jpg);
        background-position: center;
        border-bottom: 1px solid #000;
    }

    .content-container {
        padding-left: 43px;
        padding-right: 195px;

    }

    .title {
        margin-top: 57px;
        margin-bottom: 50px;
    }

    .content {
        font-size: 17px;
        line-height: 1.6em;
        margin-bottom: 42px;
    }
}