.featuredPost{
    width:50%;
    position: relative;
    border:1px black solid;
    margin: 113px auto 99px auto;
    &-title{
        position: absolute;
        top:-30px;
        left: -1px;
        border:1px black solid;
        background-color: #fff;
        padding: 10px 50px;
        text-align: center;
        
    }
    &-image{
        max-width:100%;
        overflow: hidden;  
        
    }
    .textwrap{
        margin: 40px 30px 30px 30px;
    }
    .articleTitle{
        font-size: 27px;
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 35px;
    }
    .content{
        font-size: 14px;
    }
}