@font-face {
    font-family: 'ChenYuluoyan';
    src: url('/fonts/ChenYuluoyan-Thin-Monospaced.ttf') format("truetype")
}

@font-face {
    font-family: 'GenYoMin';
    src: url('/fonts/GenYoMinTW-B-01.ttf') format("truetype")
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

$h1: "GenYoMin";
$h3: "GenYoMin";

body{
    font-family: 'Noto Sans TC', sans-serif;
}

h2 {
    font-size: 30px;
}
.title{
    font-family:"GenYoMin";
}


.bd-1 {
    border: 1px solid #000;
}

.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}

.mb-35{
    margin-bottom: 35px;
}
.mY-50 {
    margin: 50px 0;
}


.ml-40 {
    margin-left: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.m0-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.section-title-style {
    font-size: 22px;
    letter-spacing: 0.5em;
}

.time-font-style {
    font-size: 11px;
}

.aside-w {
    width: 289px;
}

.btn {
    background-color: #6600ea;
    display: block;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    width: 160px;
    padding: 14px 30px 14px 30px;

    &:hover {
        background-color: #000;
    }
}

.btn-white {
    background: #fff;
    border: none;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        color: #6600ed;
    }

    &.selected {
        color: #6600ed;
    }
}

.content {
    font-size: 16px;
    line-height: 1.5;

}


.d-flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.d-n {
    display: none;
}

.ai-c {
    align-items: center;
}

.fxd-c{
    flex-direction: column;
}


.container {
    max-width: 940px;
    margin: 0 auto;
}

.navlist-item>a {
    display: block;
    padding: 20px 60px 20px 60px;
    white-space: nowrap;
    text-decoration: none;
    color: #000;

    &:hover {
        color: #6600ed;
    }
}

a {
    display: block;
    text-decoration: none;
    color: #000;

    &:hover {
        color: #6600ed;
    }

}