.header {
    margin-bottom: 60px;
    flex-direction: column-reverse;

    &-subtitle {
        font-family: $h3;
        font-size: 35px;
        letter-spacing: 1em;
        padding-top: 55px;
        padding-bottom: 22px;
        font-weight: 600;
    }

    &-title {
        font-family: $h1;
        font-size: 107px;
        font-weight: 400;

        a {
            color: #000;
            text-decoration: none;
        }
    }
}