
.newpostMail{
    width:95%;
    margin: 0 auto;
    height: 214px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    justify-content: center;
    align-items: center;
    .title{
        font-size: 28px;
        margin-right: 30%;
    }
    .text{
        font-size: 10px;
        line-height: 1.2;
    }
    .inputbox{
        width: 270px;
        height: 43px;
    }
    .subscribe-btn{
        background-color: #6600ea;
        font-size: 17px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        padding:14px 30px 14px 30px;
        &:hover{
            background-color: #000;
        }
    }
}