.myBlog-menu {
    justify-content: flex-start;
    font-size: 14px;

    .item {
        align-items: center;

    }

    .btn-white {
        padding-top: 30px;
        padding-bottom: 30px;
        
    }

}