.brandList{
    background-color: #916000;

    .item{
        color: #fff;
        padding: 14px 0px;
        margin-right: 28px;
        &:hover{
            color:darken(#fff,20%)
        }
    }
}
.allproductList{
    .image-container{
        width: 255px;
        height: 255px;
        overflow: hidden;
    }
    .cardList>li{
        margin-bottom: 58px;
    }
    .card{
        color: black;
        font-size: 16px;
        &:hover img{
            transform: scale(1.2);
            transition-duration:500ms;
            
        }
    }
    .title{
        font-size: 24px;
        font-weight: 700;
    }
    .originalPrice{
        color: #8D8D8D;
        margin-right: 8px;
    }
    .buttonList{
        margin-top: 3px;
        .btn-heart,.btn-shopCar{
            color: #916019;
        background: #fff;
        border: none;
        margin-right: 11px;
        }
        
    }
}

.pageList{
    .item{
        text-align: center;
        margin-left: 20px;
    }
    .selected{
        color: #AC8A46;
        text-decoration: underline;
    }
}


@media(max-width:815px) {
    .brandList{
        display: none;
    }
    .allproductList{
        margin-top: 42px;
        .image-container{
            max-width: 165px;
            height:165px;
            overflow: hidden;
        }
        .card{
            .title{
                font-size: 20px;
            }
        }

    }
}
@media(max-width:374px) {
    .allproductList{
        .cardList{
            justify-content: center;
        }
    }
}