.productSection{
    .image-container,.text-container{
        width:50%;
    }
    .text-container{
        margin: 0 auto;
        justify-content: center;
        width:350px;
        
    }
    .title{
        font-size: 32px;
    }
    .content{
        margin-bottom: 16px;
    }
    
    .productList-item:nth-child(2n-1){
        flex-direction: row-reverse;
    }
    .btn-Plan{
        font-size: 20px;     
        color: #000;
        border: 2px solid black;
    }
    .productList-item:nth-child(4){
        .image-container{
            overflow: hidden;
            position: relative;
            .image{
                position: absolute;
                right:0;
                width: auto;
                margin: 0 auto;
                height: 100%;
            }
        }
    }

}
.explanationList{
    margin-top: 92px;
    margin-bottom: 8px;
    .item{
        margin-bottom: 52px;
    }
    .title{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 4px;
    }
    .content{
       font-size: 16px;
    }
    
}

@media(max-width:768px){
    .productSection{
        .text-container{
            width: 50%;
        }
        .btn{
            width:100%;
        }
    }
}

@media(max-width:576px){

    .productSection{
        .productList-item{
            display: block;
            margin-bottom: 32px;
        }
        .image-container,.text-container{
            width:100%;
        }
        .text-container{
            padding:0px;
        }
        .title{
           font-weight: 700;
        }
        .btn-Plan{
            display: block;
        }
    }
    
}