.recycling{
    .text-container{
        margin-left: 30px;
        max-width:350px;
    }
    .title{
        font-size: 32px;
        font-weight: 600;
    }
    .subTitle,.content{
        margin-bottom: 16px;
    }
    .content{
        font-size: 16px;
    }

}

@media(max-width:768px) {
   .recycling{
    display: block;
    .text-container{
        margin-left: 0;
       }
   }
  
}