
.hi-Im {
  padding-top: 72px;
  padding-bottom: 72px;
}
.hi-Im .image-container {
  width: 636px;
}
.hi-Im .text-container {
  font-size: 64px;
}
.hi-Im .text-container .name {
  text-align: right;
  color: #00FFA3;
}
.hi-Im .text-container .firstLetter {
  font-size: 128px;
}
.hi-Im .btn-container {
  text-align: right;
}